// Background colors
$bg-color-1: #FFFFFF;
$bg-color-2: #FFFFFFF2;
$bg-color-3: #FFFFFF26;
$bg-color-4: #FCFAF68C;
$bg-color-5: #FBF9F9;
$bg-color-6: #FBF7F1;
$bg-color-7: #D8F0E3;
$bg-color-8: #C0E1CF;
$bg-color-9: #F3D0C7;
$bg-color-10: #E1C0B0;
$bg-color-11: #EF2853;
$bg-color-12: #EE2852;
$bg-color-13: #D9D9D9;

//Text colors
$text-color-1: #FFFFFF;
$text-color-2: #F5D8CA;
$text-color-3: #F8D12D;
$text-color-4: #BADAC9;
$text-color-5: #A6A6A6;
$text-color-6: #F0817B;
$text-color-7: #EB6950;
$text-color-8: #878787;
$text-color-9: #6D6D6D;
$text-color-10: #80465F;
$text-color-11: #000000;

//Contrast issues
//non utilizzare AA e AAA

//Fill color
$fill-color-1: #FFFFFF;
$fill-color-2: #F0817B;
$fill-color-3: #EE2852;
$fill-color-4: #000000;

//Border colors
$border-colors-1: #EBEBEB;
$border-colors-2: #F5D8CA;
$border-colors-3: #C0E1CF;
$border-colors-4: #E1C0B0;